html, body{
    
    background-color: #f1f1f1;
    
    font-family: Roboto,arial,sans-serif;
}

ul.container{
    
    width: 410px;
    padding: 0px;
    margin: 0px;
    
    list-style: none;
    
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

li.item{
    
    width: 400px;
    height: 88px;
    margin-top: 3px;
    margin-bottom: 3px;
    
    background-color: #ffffff;
    padding: 5px;
    
    display: none;
    
    box-shadow: 0px 0px 15px -2px #757575;
}

.containersub{
    
    padding: 0;
    margin: 0;
    list-style: none;
    
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}

.itemsub{
    
    width: 100px;
    height: 88px;
    
    background: white;
    margin-right: 5px;
    
    color: #333;
    font-size: 20px;
    font-weight: 500;
}

.channelThumbnail{
    
    width: 88px;
    
    cursor: pointer;
}

.channelDescription{
    
    width: 58%;
    
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.buttonClipboard{
    
    width: 70px;
    margin-right: 0px;
    
    background-color: #a3a3a3;
    
    cursor: pointer;
    border-radius: 4px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#toggleAdd{
    
    width: 120px;

}

#dummySubscription{
    
    height: 250px;
    background: #e5e5e5;
    padding: 5px;
    
    border: thin dashed #adadad;
    border-radius: 10px;
    border-width: 2px;
        
    line-height: 250px;
    color: dimgrey;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

#enterLink{
    
    display: none;
}

.animatedPulseRed{
    
    box-shadow: 0px 0px 15px -2px #e62117 !important;
    animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 0.5);
    animation-play-state: running;
}

.animatedPulseGreen{
    
    box-shadow: 0px 0px 15px -2px #00B806 !important;
    animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 0.5);
    animation-play-state: running;
}

@keyframes pulse {to {box-shadow: 0 0 0 8px rgba(232, 76, 61, 0);}}

#dummyThumbnail{
    
    width: 84px;
    height: 85px;
    
    background-color: #ededed;
    border: 2px dotted #bababa;
    border-radius: 3px;
    
    line-height: 85px;
    font-weight: bold;
    color: dimgray;
    font-size: 1em;
    text-align: center;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#linkInputContainer{
    
    width: 58%;
}

#linkInput{
    
    position: relative;
    margin-left: 0px;
    
    width: 98%;
    height: 18px;

}

#buttonAddContainer{
    
    width: 70px;
    margin-right: 0px;
    
    background-color: #a3a3a3;
    cursor: pointer;
    border-radius: 4px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.closeButton{
    
    display: none;
    
    height: 21px;
    padding-left: 2px;
    padding-right: 4px;
    
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
    background-color: #fff;
    margin-top: 10px;
    
    justify-content: center;
    align-items: center;
    
}

.closeButton:hover{
    
	background-color: #f2f2f2;
}

.closeButton:active{
	
    background-color: #f2f2f2;
}

/******************/
/* Material Icons */
/******************/

.material-icons.md-36 { 
    font-size: 36px;
}

.material-icons.red{
    color: #e62117;
}

.material-icons{

    position:relative;
}


.row {
    width: auto;
    border: 1px solid blue;
}

.material-icons.md-18 {
    
    font-size: 18px;
}

.material-icons.gray{
    color: dimgray;
}

.material-icons.white{
    color: #fff;
}

#linkContainer {
    
    width: 100%;
    position: absolute;
    left: -9999px;
    top: 0px;
}

#actionContainer {
    
    flex-flow: row;
    flex-grow: 1;
    justify-content: space-between;
    
}

.action {
    
    padding: 4px;
    
    background-color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    box-shadow: 0px 0px 15px -2px #757575;
    border-radius: 3px;
    
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-icons.md-24 {
    
    font-size: 24px;
}

.statistics {
    
    margin-top: 10px;
    font-size: 11px;
}

.count {
    
    font-weight: bold;
}

.channelTitle {
    
    width: 100%;
    
    cursor: pointer;
    white-space: nowrap;
	overflow: hidden;
    
    -webkit-mask-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 99%);
}

#closePopup:hover {
    
   color: #e62117;
}



#subscriptionContainer {
    
    margin-top: 15px;
}
