html, body{
    
    background-color: #f1f1f1;
}

ul.container{
    
    padding: 0;
    margin: 0;
    list-style: none;
    
    display: flex;
    width: 410px;
    
    flex-flow: column;
    align-items: flex-start;
    
    font-family: Roboto,arial,sans-serif;
}

li.item{
    
    width: 400px;
    height: 88px;
    margin-top: 10px;
    
    background-color: #ffffff;
    padding: 5px;
    
    -webkit-box-shadow: 0px 0px 15px -2px rgba(117,117,117,1);
}

.containersub{
    
    padding: 0;
    margin: 0;
    list-style: none;
    
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}

.itemsub{
    
    width: 100px;
    height: 88px;
    
    background: white;
    margin-right: 5px;
    
    color: #333;
    font-size: 20px;
    font-weight: 500;
}

.channelThumbnail{
    
    width: 88px;
}

.channelDescription{
    
    width: 58%;
}

.buttonClipboard{
    
    width: 70px;
    margin-right: 0px;
    
    background-color: #e62117;
    cursor: pointer;
    border-radius: 4px;
}

#toggleAdd{
    
    height: 40px;
    margin-bottom: 5px;

    line-height: 40px;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
}

#dummySubscription{
    
    height: 250px;
    background: #e5e5e5;
    padding: 5px;
    
    border: thin dashed #adadad;
    border-radius: 10px;
    border-width: 2px;
        
    line-height: 250px;
    color: dimgrey;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

#enterLink{
    
    margin-bottom: -5px;
    display: none;
}

#dummyThumbnail{
    
    width: 84px;
    height: 85px;
    
    background-color: #ededed;
    border: 2px dotted #bababa;
    border-radius: 3px;
    
    line-height: 85px;
    font-weight: bold;
    color: dimgray;
    font-size: 1em;
    text-align: center;
}

#linkInputContainer{
    
    width: 58%;
}

#linkInput{
    
    position: relative;
    margin-left: 0px;
    
    width: 98%;
    height: 18px;
    
    top: 50%;
    transform: translate(0, -50%);
}

#buttonAddContainer{
    
    width: 70px;
    margin-right: 0px;
    
    background-color: dimgray;
    cursor: pointer;
    
}

.closeButton{
    
    width: 21px;
    height: 21px;
    border-radius: 50%;
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 13px;
}

.closeButton:hover{
	background-color: #e62117;
    color: #FFFFFF;
}

.closeButton:active{
	background-color: #e62117;
    color: #FFFFFF;
}

/******************/
/* Material Icons */
/******************/

.material-icons.md-36 { 
    font-size: 36px; 
    color: #fff;
}

.material-icons.red{
    color: #e62117;
}

.material-icons{
    
    position:relative;
    
    top: 50%;
    left: 25%;
    transform: translate(0, -50%);
}


.row {
    width: auto;
    border: 1px solid blue;
}
